.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameof
{
    color:black;
    text-decoration: none;
    font-size:50px;
}
.login__container {
    width: 300px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid black;
    padding: 20px
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px
}

.login__container > form > h5 {
    margin-bottom: 5px;
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login__signInButton {
    background:rgb(223, 223, 223);
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: black;
    color: #111
}


.login__registerButton {
        border-radius: 2px;
        width: 100%;
        height: 30px;
        border: 1px solid;
        margin-top: 10px;
        border-color:darkgray;
        color: #111
}
